.card {
  &.surface {
    border: 0;

    &:hover,
    &:focus {
      box-shadow: 0 1.625rem 4rem rgba(0, 0, 0, 0.07);
    }

    &:active {
      box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.16), 0 0.25rem 1rem rgba(0, 0, 0, 0.05);
    }
  }

  &.card-category {
    .card-category-col-image {
      width: 6rem;
      height: 5.5rem;
      margin: 0.9375rem;
      flex: 0 0 6rem;
      max-width: 6rem;
    }

    .card-body {
      .card-text {
        font-weight: 600;
      }
    }
  }

  &.card-company {
    .card-img-top {
      margin: 2rem auto;
      width: 10.875rem;
      height: 3rem;
      border-radius: 0;
    }

    .card-body {
      padding-top: 0;
      padding-bottom: 1.5rem;

      .card-text {
        color: #9595A8;
        text-align: center;
        font-size: 0.8125rem;
        line-height: 0.875rem;
      }
    }

    &:hover {
      border-color: $primary;
    }
  }

  &.card-news {
    .card-news-col-image {
      width: 7.5rem;
      height: 7.5rem;
      margin: 1rem;
      margin-right: 0;
      border-radius: 0.5rem;
      flex: 0 0 7.5rem;
      max-width: 7.5rem;
    }

    .card-body {
      padding-left: 1rem;
    }

    .card-text {
      color: $gray-900;
    }

    .card-news-date {
      color: $gray-600;
      margin-bottom: 0.75rem;
      position: relative;
      padding-left: 1.9375rem;

      .icon {
        position: absolute;
        left: 0;

      }
    }
  }

  &.card-company-list {

    .card-company-list-col-image {
      width: 6.5rem;
      margin: 1.5rem;
      flex: 0 0 6.5rem;
      max-width: 6.5rem;
    }

    .card-company-list-col-body {
      border-left: 1px solid #EBEBEF;

      .card-body {
        padding-left: 2rem;

        .icon {
          margin-top: 0.08rem;
        }

        .card-company-list-info {
          color: $gray-600;
          margin-bottom: 1rem;
          display: inline-block;
        }

        .card-company-list-info-right {
          float: right;
          .btn {
            width: 8rem;
            text-align: left;
          }
        }

        .card-company-list-text {
          width: 100%;
        }
      }
    }
  }
}
