.card {

  &.surface {

    &:hover,
    &:focus {
      box-shadow: 0 1.625rem 4rem rgba(0, 0, 0, 0.07);
    }

    &:active {
      box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.16), 0 0.25rem 1rem rgba(0, 0, 0, 0.05);
    }
  }

  &.card-hover {
    &:hover {
      border-color: $primary;
      
      .card-news-preview-title {
        color: $primary;
      }
    }
  }

  &.card-category {
    @extend .body-heading-s;
    text-decoration: none;


    .card-category-col-image {
      width: 6rem;
      height: 5.5rem;
      margin: 0.9375rem;
      flex: 0 0 6rem;
      max-width: 6rem;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .card-text {
      color: $body-color;
    }
  }

  &.card-product-preview {
    .card-product-preview-col-image {
      width: 6rem;
      height: 5.5rem;
      margin: 0.9375rem;
      flex: 0 0 6rem;
      max-width: 6rem;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .card-body {
      .card-product-preview-title {
        @extend .body-heading-m;
      }

      .card-product-preview-title-text {
        @extend .body-s;
      }
    }
  }

  &.card-company {
    @extend .body-xs;
    text-decoration: none;

    .card-img-top {
      margin: 2rem auto;
      width: 10.875rem;
      height: 3rem;
      border-radius: 0;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .card-body {
      padding-top: 0;
      padding-bottom: 1.5rem;

      .card-text {
        color: $gray-700;
        text-align: center;
        font-size: 0.8125rem;
        line-height: 0.875rem;
      }
    }
  }

  &.card-news {
    .card-news-col-image {
      width: 7.5rem;
      height: 7.5rem;
      margin: 1rem;
      margin-right: 0;
      border-radius: 0.5rem;
      flex: 0 0 7.5rem;
      max-width: 7.5rem;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .card-body {
      padding-left: 1rem;
    }

    .card-text {
      @extend .body-heading-s;
      text-decoration: none;
      color: $gray-900;

      &:hover {
        color: $primary;
      }
    }

    .card-news-date {
      color: $gray-600;
      margin-bottom: 0.75rem;
      position: relative;
      padding-left: 1.9375rem;

      .icon {
        position: absolute;
        left: 0;

      }
    }
  }

  &.card-company-list {

    .card-company-list-col-image {
      width: 6.5rem;
      height: 3.25rem;
      margin: 1.5rem;
      flex: 0 0 6.5rem;
      max-width: 6.5rem;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }

    .card-company-list-col-body {
      border-left: 1px solid #EBEBEF;

      .card-body {
        padding-left: 2rem;
        padding-right: 2rem;

        .icon {
          margin-top: 0.08rem;
        }

        .card-company-list-info {
          color: $gray-600;
          margin-bottom: 1rem;
          display: inline-block;
        }

        .card-company-list-info-right {
          float: right;
          margin-top: -1.2rem;

          .card-company-list-further-products {
            font-style: normal;
            font-weight: bold;
          }

          .card-company-list-details-btn {
            width: 8rem;
            text-align: left;

            @include hover() {
              background-color: $primary;
              color: $white;
              text-decoration: none;
              box-shadow: none !important;
              > .icon {
                background-color: $white;
                @include transition($btn-transition);
              }
            }
          }
        }

        .card-company-list-text {
          width: 100%;
        }
      }
    }
  }

  &.card-news-preview {

    .card-news-preview-title {
      color: $gray-900;
      text-decoration: none;

      &:hover {
        color: $primary;
      }
    }

    .card-news-preview-col-image {
      width: 7.5rem;
      height: 7.5rem;
      margin: 1rem;
      margin-right: 0;
      border-radius: 0.5rem;
      flex: 0 0 7.5rem;
      max-width: 7.5rem;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .card-body {
      padding-left: 1rem;
    }

    .card-news-preview-text {
      padding-top: 0;
    }

    .card-news-preview-date {
      color: $gray-600;
      margin-bottom: 0.75rem;
      position: relative;
      padding-left: 1.9375rem;

      .icon {
        position: absolute;
        left: 0;

      }
    }
  }
}
