.tooltip {
  font-family: $font-family-sans-serif;
  letter-spacing: -0.02em;

  &.tooltip-white {
    border-radius: 0.25rem;
    box-shadow: 0 1.625rem 4rem rgba(0, 0, 0, 0.07);

    .tooltip-inner {
      background-color: $white;
      color: $black;
    }

    .arrow {
      &::before {
        border-top-color: $white;
      }
    }
  }
}

.tooltip-inner {
  padding-bottom: 0.375rem;
  line-height: 1.625rem;
}


