/*@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";*/
@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "reboot";
@import "type";
@import "buttons";
@import "icons";
@import "card";
@import "tooltip";
@import "forms";
@import "custom-forms";

$content-width: 73.125rem;
$content-bg: $white;

.logo-text-s {
  width: 8.5rem;
  height: 2.5rem;
  background-image: url("../img/logo-text-s.png");
  background-repeat: no-repeat;
}

.logo-text {
  width: 12.5rem;
  height: 4.0625rem;
  background-image: url("../img/logo-text.png");
  background-repeat: no-repeat;
}

.tab-item {
  width: 9rem;
  height: 4rem;
  display: block;
  text-decoration: none;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  padding-top: 1.7rem;
  background: #fff;
  text-align: center;
  font-family: "Prompt", sans-serif;

  &:hover {
    text-decoration: none;
    border-bottom: 2px solid $primary;
  }
}

.header {
  background: $content-bg;
  width: 100%;
  display: inline-block;

  .header-body {
    width: $content-width;
    height: 4.5rem;
    margin: 0 auto;

    .header-body-logo {
      margin-top: 0.875rem;
      float: left;
      margin-right: 1.5rem;
    }

    .header-catalog-button {
      padding-left: 1.75rem;
      padding-right: 1.75rem;
      margin-top: 0.5rem;
      padding-top: 1rem;
      float: left;
      margin-right: 1.75rem;

      .icon-menu {
        margin-right: 0.875rem;
        float: left;
      }

      .icon-close {
        margin-right: 0.875rem;
        display: none;
        float: left;
      }

      .header-catalog-button-text {
        margin-top: 0.125rem;
        float: left;
      }
    }

    .header-search {
      float: left;
      width: 28.75rem;
      margin-top: 0.75rem;
      margin-right: 2rem;

      input {
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        background: #F1F1F4;
        padding-left: 1.5rem;
      }

      button {
        width: 4rem;
        height: 3rem;

        .icon {
          margin-left: -0.25rem;
        }
      }
    }

    .header-login {
      margin-top: 1.5rem;
      height: 1.5rem;
      margin-right: 1.5rem;
      float: left;
      cursor: pointer;

      .icon {
        margin-right: 0.75rem;
        float: left;
      }

      .header-login-text {
        margin-top: 0.25rem;
        float: left;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
      }

      &:hover {
        .header-login-text {
          color: $cta;
        }

        .icon {
          background: $cta;
        }
      }

    }

    .header-register {
      float: left;
      margin-right: 1.5rem;
      margin-top: 0.75rem;
    }

    .header-language {
      float: left;
      margin-top: 1.25rem;

      .icon {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

.footer {
  background: $content-bg;
  width: 100%;
  display: inline-block;

  .footer-body {
    width: $content-width;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 2.9375rem;

    .footer-col {
      width: 25%;
      float: left;
      margin-bottom: 2rem;

      .footer-col-title {
        margin-bottom: 1.4375rem;
      }

      .footer-col-links {
        a {
          font-style: normal;
          font-weight: normal;
          font-size: 0.9375rem;
          line-height: 145%;
          margin-bottom: 0.75rem;
          display: inline-block;
        }
      }

      .footer-col-contacts-title {
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 125%;
        margin-bottom: 0.9375rem;
      }

      .footer-col-contacts-text {
        font-style: normal;
        font-weight: normal;
        font-size: 0.9375rem;
        line-height: 1.8rem;
        margin-bottom: 0.875rem;
      }

      .footer-col-social {
        .icon {
          width: 2rem;
          height: 2rem;
          margin-right: 0.5rem;
        }
      }
    }

    .footer-copyrigh {
      @extend  .body-s;
      color: $gray-800;
    }
  }
}
